body{
    background-color: #352F44;
    margin:0;
    padding: 0;
}
.App{
    text-align: center;
}
h1{
    color: #fff;
    text-decoration: underline;
}
.TaskWrapper{
    width: 80%;
    /* background-color: red; */
    margin:  100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5C5470;
    border-radius: 5px;
    padding-bottom: 20px;
}

.TaskForm{
    width: 80%;
    /* background-color: blue; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}
.input{
    width: 80%;
    height: 25px;
    border: 1px solid #B9B4C7;
    outline: none;
    border-radius:  5px 0 0 5px ;
    color: rgb(55, 53, 53);
}
.btn{
    height: 28px;
    border: 1px solid #B9B4C7;
    color: #fff;
    outline: none;
    border-radius: 0 5px 5px 0;
    background-color: #B9B4C7;
    cursor: pointer;
}
.input::placeholder{
    text-indent: 2px;
}
.Task{
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #B9B4C7;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
    padding-left: 10px;
    cursor: pointer;
}
.icons{
    display: flex;
    gap: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
    color: black;
    text-decoration-color: black;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.checkbox{
    margin-top: 6px;
}

.totalTask{
    margin-bottom: 0;
    color: #fff;
    font-weight: 600;
    font-size: large;
}